{% ckan_extends %}

{% block resource_item_download %}
{% if res.rasterstorer_resource and res.format in ['wcs'] %}
<div class="dropdown btn-group resource-download-opts pull-right">
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
            >{#<i class="icon-download"></i> #}{{ _('Download as') }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% if res.format == 'wcs' %}
        {% for fmt in h.rasterstorer_wcs_output_formats() %}
        <li>
            <a href="{{ h.rasterstorer_wcs_coverage_url(res.wcs_server, res.wcs_coverage, fmt.name) }}" 
                target="_blank" >{{ fmt.display_name|safe }}</a>
        </li>
        {% endfor %}
        {% endif %} {# res.format #}
    </ul>
</div>
{% endif %}
{{ super() }}
{% endblock %}
